


/* Grid layout */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.c-0 {
    display: none;
}

.col-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
    padding-left: 4px;
    padding-right: 4px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

.c-o-1 {
    margin-left: 8.3333%;
}

.c-o-2 {
    margin-left: 16.6667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.3333%;;
}

.c-o-5 {
    margin-left: 41.6667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.3333%;
}

.c-o-8 {
    margin-left: 66.6667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.3333%;;
}

.c-o-11 {
    margin-left: 91.6667%;
}

/* Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .md-0 {
        display: none;
    }

    .md-1,
    .md-2,
    .md-3,
    .md-4,
    .md-5,
    .md-6,
    .md-7,
    .md-8,
    .md-9,
    .md-10,
    .md-11,
    .md-12 {
        display: block;
    }
    
    .md-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-3 {
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-9 {
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }

    .md-o-1 {
        margin-left: 8.3333%;
    }
    
    .md-o-2 {
        margin-left: 16.6667%;
    }
    
    .md-o-3 {
        margin-left: 25%;
    }
    
    .md-o-4 {
        margin-left: 33.3333%;;
    }
    
    .md-o-5 {
        margin-left: 41.6667%;
    }
    
    .md-o-6 {
        margin-left: 50%;
    }
    
    .md-o-7 {
        margin-left: 58.3333%;
    }
    
    .md-o-8 {
        margin-left: 66.6667%;
    }
    
    .md-o-9 {
        margin-left: 75%;
    }
    
    .md-o-10 {
        margin-left: 83.3333%;;
    }
    
    .md-o-11 {
        margin-left: 91.6667%;
    }


}

/* PC > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-0 {
        display: none;
    }

    .lg-1,
    .lg-2,
    .lg-3,
    .lg-4,
    .lg-5,
    .lg-6,
    .lg-7,
    .lg-8,
    .lg-9,
    .lg-10,
    .lg-11,
    .lg-12 {
        display: block;
    }
    
    .lg-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }

    .lg-o-1 {
        margin-left: 8.3333%;
    }
    
    .lg-o-2 {
        margin-left: 16.6667%;
    }
    
    .lg-o-3 {
        margin-left: 25%;
    }
    
    .lg-o-4 {
        margin-left: 33.3333%;;
    }
    
    .lg-o-5 {
        margin-left: 41.6667%;
    }
    
    .lg-o-6 {
        margin-left: 50%;
    }
    
    .lg-o-7 {
        margin-left: 58.3333%;
    }
    
    .lg-o-8 {
        margin-left: 66.6667%;
    }
    
    .lg-o-9 {
        margin-left: 75%;
    }
    
    .lg-o-10 {
        margin-left: 83.3333%;;
    }
    
    .lg-o-11 {
        margin-left: 91.6667%;
    }
}
